{% extends "base.html" %}
{% load static %}


{% block main %}

<div class="row">

    <br>
    <div class="col-xl-12">
        <div class="card dz-card" id="accordion-one">
            <div class="card-header flex-wrap">
                <div>
                    <h4 class="card-title">Gestion des Entrées</h4>
                </div>
                
            </div>
            <!--tab-content-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                 <div class="card-body pt-0">
                    <div class="table-responsive"> 
                        <form method="post" action="">
                            {% csrf_token %}                   
                        <table id="user-tbl" class="table shorting">
                            <thead>
                            <tr>

                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Adresse</th>
                                <th>Departement</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for uv in user_vigil %}
                            <tr>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 ms-2">{{uv.first_name}}</p>	
                                    </div>
                                </td>

                                <td>{{uv.last_name}}</td>
                                <td>{{uv.staff.address}}</td>
                                <td>{{uv.staff.department_id.name}}</td>
                                <td>
                                    <a class="btn btn-success" data-toggle="modal" data-target="#myModal" href="" >Entrée</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
               </div>
            </div>
        
            </div>
        </div>
    </div>
</div>





    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="sexampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-dark" id="sexampleModalLabel">Gestion des Entrées</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form id="myForm" method="post">
               {% csrf_token %}
               <input name="id" type="hidden" id="purchase_recept" value="">
               <label  class="text-dark checkbox-inline"> <strong id="strong_id_s">Ajouter Commentaire sur cette entrée</strong></label>

                                <textarea  class="form-control" name="comment" id="comment" cols="30" rows="6"></textarea>



               <div class="modal-footer">
                  <button type="submit" class="btn btn-success">  Marqué  Entrée</button>
               </div>
            </form>
         </div>

      </div>
   </div>
</div>



<script>

$(document).ready(function() {
    $("#myForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "",
            data: $(this).serialize(),
            success: function(data) {

                alert("Signature ajouter soumis avec succès !");

                $("#myModal").modal("hide");
            },
            error: function() {

                alert("Une erreur s'est produite.");
            }
        });
    });
});
</script>

{% endblock main %}