{% extends "base.html" %}

{% load static %}
{% block main %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Departement</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                {% url 'new_department' as action_path %}
                {% include 'pages/adminPage/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Departement" %}
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
 
{% endblock main %}