{% extends "base.html" %}

{% block main %}

<br><br><br><br>

<div style="background-color: #0c525d;border-radius: 10px;" class="row">
    <h1 style="color: whitesmoke; text-align: center">Add Invoice For <u> {{ staffleave.staff.admin.first_name }} {{ staffleave.staff.admin.last_name }}</u> Demande</h1>

</div>
    <br><br>
  <div class="row">

    <button id="btn-add" class="btn btn-success w-50 col-md-6"> Add new line </button>
    <button id="btn-remove" class="btn btn-danger w-50 col-md-6"> Remove last line </button>

</div>
<div class="form-group">
    {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
      {% endif %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
      {% endif %}
      {% endfor %}
    {% endif %}
  </div>
<form method="post">

    {% csrf_token %}

    <div class="form-group col-md-2">
        <input value="{{staffleave.id}}" name="staffleave" type="hidden" >
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="object"> Object </label>
            <textarea rows="5" cols="33" class="form-control" name="object" id="object" cols="30" rows="1"></textarea>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="modalitedepaiement"> Modalite de paiement </label>
            <input  name="modalitedepaiement" type="text"  class="form-control" >
        </div>
    </div>




    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="customer"> Supplier </label>
            <select name="customer" class="form-control" id="customer">
                <option> Choose the supplier ... </option>
                {% for customer in customers %}
                <option value="{{customer.id}}">{{customer.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>



    <div id="wrapper">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="article-1">#1 Product name </label>
                <input required name="article" type="text" class="form-control" id="article-1">
            </div>

            <div class="form-group col-md-2">
                <label for="qty-1"> Quantity </label>
                <input required name="qty" type="number" min="1" step="0.1" class="form-control" id="qty-1">
            </div>

            <div class="form-group col-md-3">
                <label for="unit-1"> Unit Price </label>
                <input required name="unit" type="number" min="1" step="0.1" onchange="handleChangeSingleArticle(this.id)" class="form-control" id="unit-1">
            </div>

            <div class="form-group col-md-3">
                <label for="total-a-1"> Total </label>
                <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control"
                    id="total-a-1">
            </div>

        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="total"> Total </label>
            <input value="0" type="number" step="0.1" name="total" readonly class="form-control" id="total">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="bservation"> Observations</label>
            <textarea rows="5" cols="33" class="form-control" name="observation" id="observation" cols="30" rows="1"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="lieu_livraison"> Lieu Livraison </label>
            <textarea rows="5" cols="33" class="form-control" name="lieu_livraison" id="lieu_livraison" cols="30" rows="1"></textarea>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="imputation"> Imputation </label>
            <input  name="imputation" type="text"  class="form-control" >
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="date_livraison"> Date de Livraison </label>
            <input  name="date_livraison" type="date"  class="form-control" >
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="marche"> Marche ou Contrat </label>
            <input  name="marche" type="text"  class="form-control" >
        </div>
    </div>

    <div class="form-row"> 
        <div class="form-group col-md-12">
            <label for="signature"> Signer </label>
            <select name="signature" class="form-control" id="signature">
                <option> Choose the signature ... </option>
                {% for sg in signatures %}  
                <option value="{{sg.id}}">{{sg.sign}}</option>
                 {% endfor %}
    </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="secretary_rept"> Receptor </label>
            <select name="secretary_rept" class="form-control" id="secretary_rept">
                <option> Choose the Receptor ... </option>
                {% for sr in secretary_rept %}
                <option value="{{sr.id}}">{{sr.admin.first_name}} {{sr.admin.last_name}}</option>
                 {% endfor %}
    </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Add Purchase</button>

</form>

<br><br>




<br><br><br><br>



<script type="text/javascript">

    
    $(document).on('click', '#btn-add', function(){
        
        var number = $('#wrapper').children().length + 1;
    
        let formAdd = `
    
                        <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="article-${number}">#${number} Product name </label>
                                    <input required name="article" type="text" class="form-control" id="article-${number}">
                                </div>
    
                                <div class="form-group col-md-2">
                                    <label for="qty-${number}"> Quantity </label>
                                    <input required name="qty" type="number" min="1" step="0.1"  class="form-control" id="qty-${number}">
                                </div>
    
                                <div class="form-group col-md-3">
                                    <label for="unit-${number}"> Unit Price </label>
                                    <input required name="unit" type="number" min="1" step="0.1" onchange="handleChangeSingleArticle(this.id)" class="form-control" id="unit-${number}">
                                </div>
    
                                <div class="form-group col-md-3">
                                    <label for="total-a-${number}"> Total </label>
                                    <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control"
                                        id="total-a-${number}">
                                </div>
    
                            </div>
                    `;   
                    
        
        $("#wrapper:last").append(formAdd);          
    })
    
    
    
    $(document).on('click', '#btn-remove', function(){
        $("#wrapper").children().last().remove();
    })


    function handleChangeSingleArticle(id){

        console.log(id.toString().split('-'))
        let articleId = id.split('-')[1];

        let idQty = `#qty-${articleId}`;

        let unitId = `#unit-${articleId}`;

        let totalIdLine = `#total-a-${articleId}`;

        let totalLine = parseFloat($(idQty).val()) * parseFloat($(unitId).val());

        $(totalIdLine).val(totalLine);

        $('#total').val(parseFloat($('#total').val()) + totalLine);
        
    }

    
    </script>
{% endblock main %}

