{% extends "base.html" %}
{% load static %}


{% block main %}

<div class="row">

    <br>
    <div class="col-xl-12">
        <div class="card dz-card" id="accordion-one">
            <div class="card-header flex-wrap">
                <div>
                    <h4 class="card-title">Achat Approuver</h4>
                </div>
                
            </div>
            <!--tab-content-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                 <div class="card-body pt-0">
                    <div class="table-responsive"> 
                  
                        <table id="user-tbl" class="table shorting">
                            <thead>
                            <tr>

                                <th>Demandeur</th>
                                 <th>Acheteur</th>
                                <th>Signataire</th>
                                <th>Date Demande</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for fn in final %}
                            <tr>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 ms-2">{{fn.purchase_recept.staffleave.staff.admin.first_name}} {{fn.purchase_recept.staffleave.staff.admin.last_name}}</p>
                                    </div>
                                </td>


                                <td>{{fn.purchase_recept.staffleave.chef_recept.admin.first_name}} {{fn.purchase_recept.staffleave.chef_recept.admin.last_name}}</td>
                                <td>{{fn.staff.admin.first_name}} {{fn.staff.admin.last_name}}</td>
                                <td>{{fn.purchase_recept.date_creation}}</td>

                                <td>

                                          <a class="btn btn-success" href="{% url 'purchase_final_view' fn.id %}">Voir</a>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
               </div>
            </div>
        
            </div>
        </div>
    </div>
</div>

{% endblock main %}