{% extends "base.html" %}
{% load static %}


{% block main %}

<div class="row">

    <br>
    <div class="col-xl-12">
        <div class="card dz-card" id="accordion-one">
            <div class="card-header flex-wrap">
                <div>
                    <h4 class="card-title">Gestion des demandes</h4>
                </div>
                
            </div>
            <!--tab-content-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                 <div class="card-body pt-0">
                    <div class="table-responsive"> 
                  
                        <table id="user-tbl" class="table shorting">
                            <thead>
                            <tr>

                                <th>Demandeur</th>
                                {% comment %} <th>Object</th> {% endcomment %}
                                <th>Date Demande</th>
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for dm in demande %}
                            <tr>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <p class="mb-0 ms-2">{{dm.staff.admin.first_name}} {{dm.staff.admin.last_name}}</p>	
                                    </div>
                                </td>

                                {% comment %} <td>{{dm.note_demande}}</td> {% endcomment %}
                                <td>{{dm.date_demande}}</td>
                                <td>

                                    <div class="d-flex align-items-right">




                                     <a class="btn btn-primary" href="{% url 'view' dm.id %}">Voir</a>
                                <div class="dropdown">
                                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ajouter
                                  </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="">Bon de Commande</a>
                                          <a class="dropdown-item" href="">Voucher</a>
                                      </div>
                                    </div>
</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
               </div>
            </div>
        
            </div>
        </div>
    </div>
</div>

{% endblock main %}