{% extends "base.html" %}

{% load static %}

{% block main %}


<style>


.invoice-container {
    padding: 1rem;
}
.invoice-container .invoice-header .invoice-logo {
    margin: 0.8rem 0 0 0;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #cbccc5;
}
.invoice-container .invoice-header .invoice-logo img {
    max-width: 130px;
}
.invoice-container .invoice-header address {
    font-size: 0.8rem;
    color: #eceef1;
    margin: 0;
}
.invoice-container .invoice-details {
    margin: 1rem 0 0 0;
    padding: 1rem;
    line-height: 180%;
    background:  #000811;

}
.invoice-container .invoice-details .invoice-num {
    text-align: right;
    font-size: 0.8rem;
}
.invoice-container .invoice-body {
    padding: 1rem 0 0 0;
}
.invoice-container .invoice-footer {
    text-align: center;
    font-size: 0.7rem;
    margin: 5px 0 0 0;
}

.invoice-status {
    text-align: center;
    padding: 1rem;
    background: #e3e5eb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.invoice-status h2.status {
    margin: 0 0 0.8rem 0;
}
.invoice-status h5.status-title {
    margin: 0 0 0.8rem 0;
    color: #8a99b5;
}
.invoice-status p.status-type {
    margin: 0.5rem 0 0 0;
    padding: 0;
    line-height: 150%;
}
.invoice-status i {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    display: inline-block;
    padding: 1rem;
    background: #1a233a;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.invoice-status .badge {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .invoice-container {
        padding: 1rem;
    }
}

.card {
    background:#cbccc5;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.custom-table {
    border: 1px solid #2b3958;
}
.custom-table thead {
    background: #010408;
}
.custom-table thead th {
    border: 1px solid white;
    color: #ffffff;
}
/* .custom-table > tbody tr:hover {
    background: #ececee;
} */
.custom-table > tbody tr:nth-of-type(even) {
    background-color: #cbccc5;;
}
.custom-table > tbody td {
    border: 1px solid #cbccc5;;
}

.table {
    background: #cbccc5;
    color: #010816;
    font-size: .75rem;
}
.text-success {
    color: #1a233a !important;
}
.custom-actions-btns {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.custom-actions-btns .btn {
    margin: .3rem 0 .3rem .3rem;
}


</style>

<div class="container">
    <div class="row gutters">
    	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    		<div class="card">
    			<div class="card-body p-0">
    				<div class="invoice-container">
    					<div class="invoice-header">
    
    						<!-- Row start -->

                            <div class="row gutters">
    							<div class="col-xl-12 col-lg-12 col-md-3 col-sm-6">
    								<div class="custom-actions-btns mb-5">
    									<a data-toggle="modal" data-target="#myModal" href=" {% url 'signature_view' %} " class="btn btn-secondary">
    										<i class="icon-printer"></i> Signer
    									</a>
    								</div>
    							</div>
    						</div>
    						
    						<!-- Row end -->
    
    						<!-- Row start -->
    						<div style="padding: -50px;" class="row gutters">
    							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
    								<a href="donaldprogrammeur.com" class="invoice-logo">
    									CODESRIA INVOICE
    								</a>
    							</div>
    							
    						</div>
    						<!-- Row end -->
    
    						<!-- Row start -->
    						<div class="row gutters">
    							<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    								<div style="color:#eaedf1 !important" class="invoice-details">
    									<address  >
                                            <u>	Demandeur:</u> {{invoice.staffleave.staff.admin.first_name}} {{invoice.staffleave.staff.admin.last_name}}<br>
                                        <u>Departement:</u> {{invoice.staffleave.staff.department_id.name}}
    									</address>
    								</div>
    							</div>
    							<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    								<div class="invoice-details">
    									<div style="color: #eaedf1 !important" class="invoice-num">
    										<div>INVOICE - #00{{invoice.id}}</div>
    										<div>{{invoice.date_creation}}</div>
    									</div>
    								</div>													
    							</div>
    						</div>
    						<!-- Row end -->
    
    					</div>
    
    					<div class="invoice-body">
    
    						<!-- Row start -->
    						<div class="row gutters">
    							<div class="col-lg-12 col-md-12 col-sm-12">
    								<div class="table-responsive">
    									<table class="table custom-table m-0">
    										<thead>
    											<tr>
    												
													<th>Product ID</th>
                                                    <th>Product</th>
													<th>Quantity</th>
													<th>Unit Price</th>
													<th>Subtotal</th>
    											</tr>
    										</thead>
    										<tbody>
                                              {% for article in articles %}  
                                              
    											<tr>

                                                   

                                                    <td style="width: 10px;">
    													
                                                        {{ article.id }}
    													
    												</td>

													<td>
    													{{ article.name }}
    													
    												</td>

													<td>
    													{{ article.quantity }}
    													
    												</td>

													<td>
    													{{ article.unit_price }}
    													
    												</td>

													<td>
    													{{ article.get_total }}
    													
    												</td>

                                                    
    												
    											</tr>
                                               {% endfor %} 
    											
    											
    											<tr>
                                                    <td></td>
    												<td colspan="2">
                                                        <br>
                                                        <br>
														<p>
															Subtotal<br>

														</p>
    													<h5 class="text-success"><strong>Total</strong></h5>
    												</td>			
    												<td style="padding: -10px;">
    													<p >
    														{{invoice.get_total}} FCFA<br>

    													</p>
    													
    												</td>

                                                    <td> 
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <h5 class="text-success"><strong>{{invoice.get_total}} FCFA</strong></h5>
                                                            {% comment %} PAID:                    

                                                        {% if obj.paid  %}

                                                           <img class="icon" src="{% static 'images/icon-yes.svg' %}" alt="True">
                                                        {% else %}
                                                            <img class="icon" src="{% static 'images/icon-no.svg' %}" alt="False">
   
                                                        {% endif %} {% endcomment %}
                                                    </td>
    											</tr>
    										</tbody>

    									</table>
                                        <table>
                                            <thead style="border: 1px solid white; color: #010816;">
                                                <tr>

                                                    <td style="border-right: none;">Observation:<br> {{invoice.observation|linebreaks}}</td>
                                                </tr>
                                            </thead>
                                        </table>
    								</div>
    							</div>
    						</div>
    						<!-- Row end -->
    
    					</div>
    
    					<div class="container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!-- Élément 1 -->
                                    <div class="card">
                                        <div class="card-body">
                                            <p style="text-align: left; color: #010816;"><strong>CHEF {{ invoice.staffleave.staff.department_id.name }}</strong></p>
                    

                            {% if invoice.staffleave.signature.sign %}
                                    <img style="width: 150px; height: 150px;" src="{{ invoice.staffleave.signature.sign.url }}" alt="profile picture">
                                    <h4>{{ invoice.staffleave.staff.admin.first_name }} {{ invoice.staffleave.staff.admin.last_name }}</h4>
                                {% else %}
                                    <p>Aucune image de profil trouvée.</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- Élément 1 -->
                        <div class="card">
                            <div class="card-body">
                                <p style="text-align: left; color: #010816;"><strong>DAF</strong></p>

                                {% if invoice.signature.sign %}
                                <img style="width: 150px; height: 150px;"  src="{{ invoice.signature.sign.url }}" alt="profile picture">
                                <h4>{{ invoice.staffleave.chef_recept.admin.first_name }} {{ invoice.staffleave.chef_recept.admin.last_name }}</h4>

                            {% else %}
                                <p>Aucune image de profil trouvée.</p>
                            {% endif %}
 
                        </div>

                        <div class="col-sm-3">
                            <!-- Élément 1 -->
                            <!-- <div class="card">
                                <div class="card-body">
                                    <p style="text-align: left; color: #010816;"><strong>Executive Secretary</strong></p>
    
                                    {% if invoice.signature.sign %}
                                    <img style="width: 150px; height: 150px;"  src="{{ validate.signature.staff_sign..url }}" alt="profile picture">
                                    <h4>{{ validate.signature.admin.first_name }} {{ invoice.staffleave.chef_recept.admin.last_name }}</h4>
    
                                {% else %}
                                    <p>Aucune image de profil trouvée.</p>
                                {% endif %}
     
                            </div> -->
                    </div>
                </div>

            </div>
        </div>
                    
    
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>





{% endblock main %}
